/*css ruleset*/
*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body{
	background: skyblue;
}
nav{
	background: gainsboro;
	padding: 15px;
	text-align: center;
	box-shadow: 0 8px 16px rgba(0,0,0,0.3);

}

 

nav>a{
	padding: 20px;
	text-decoration: none;
	color: black;
}

.login-panel{
	text-align: center;
	background: lightgray;
	opacity: 80%;
	margin-top: 10%;
	margin-left: 40%;
	margin-right:40%;
	padding-bottom: 3%;
	padding-top: 3%;
	border-radius: 20px;
	opacity: 0.8;
	box-shadow: 0 8px 16px rgba(0,0,0,0.3);

}

 .form{
 	background: whitesmoke;
 	padding-top: 50px;
 	padding-bottom: 50px;
 }

#button{
	background: black;
	color: white;
	border-radius: 15px;
	border-style: unset;
	padding-left: 70px;
	padding-right: 70px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 30px;
	box-shadow: 0 8px 16px rgba(0,0,0,0.3);
	cursor: pointer;
}

#button:hover{
	transform: translateY(-3px);
	box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);

}

#button:active{
	transform: translateY(2px);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}
 
 label{

 	display: block;
 }

 input{
 	margin-top: 15px;
 	margin-bottom: 5px;


 	border-color: black;
 	border-radius:10px;
 	border-style: solid;
 	padding: 5px;
 	padding-inline: 20px;
}